{layout '../../layout.latte'}

{block content}
    <div class="p-4 sm:ml-64">
        <div class="grid grid-cols-1 gap-4 mb-4">
            <div class="cell">
                <div class="cell-content justify-between">
                    <h2 class="cell-title">{$voucher['message']}</h2>
                    <div class="flex justify-center gap-x-8 mr-2">
                        {if $voucher['status'] == 'green'}
                            <a href="{route('vouchers.use', ['hash' => $voucher['hash']])}" class="button-green">Uplatnit voucher</a>
                            <a href="{route('vouchers.index')}" class="button-blue">Neuplatňovat voucher</button></a>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="cell-simple">
                <i class="fa-solid fa-hashtag icon"></i>{$voucher['hash']}
            </div>
            <div class="cell-simple">
                <i class="fa-solid fa-dollar-sign icon"></i>{$voucher['price']|number:0,',', ' '},-
            </div>
            <div class="cell-simple">
                <i class="fa-regular fa-clock icon"></i>{$voucher['dateFrom']|date:'j. n. Y'} - {$voucher['dateTo']|date:'j. n. Y'}
            </div>
        </div>
    </div>
{/block}
