<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Přišla nová poptávka!</title>
</head>

<body>
<h1>Přišla nová poptávka!</h1>
<p>Jmeno: {$details['name']}</p>
<p>Email: {$details['email']}</p>
<p>Telefon: <a href="tel:{$details['telephone']}">{$details['telephone']}</a></p>
<p>Varianta: {$details['variant']}</p>
<hr>
<p>{$details['message']}</p>
<p>Odesláno {date('d.n.Y \v H:i')}</p>
<img src="https://github.com/MarvelousMartin/interior-cleaning/blob/master/public/images/logo/logo-2.png?raw=true"
     style="max-width: 100px" alt="Čistění interiérů Kondrac">
